<!-- BEGIN: tpl -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ru" />
<meta http-equiv="Cache-Control" content="private" />
<meta name="description" content="{_META_DESCRIPTION}" />
<meta http-equiv="description" content="{META_DESCRIPTION}" />
<meta name="Keywords" content="{META_KEYWORDS}" />
<meta http-equiv="Keywords" content="{META_KEYWORDS}" />
<meta name="Resource-type" content="document" />
<meta name="document-state" content="dynamic" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="{URL}/plugins/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" href="{URL}/plugins/bootstrap3/css/sticky-footer-navbar.css">

<script src="{URL}/plugins/jquery/jquery-3.2.0.min.js"></script>
<script src="{URL}/plugins/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="{URL}/plugins/jquery/jquery.json-1.3.js"></script>
<script type="text/javascript" src="{URL}/js/api.class.js"></script>

</head>


<body>
<div class="container ">
	<div class="row">

		<div class="col-md-12 col-sm-12">
		
<h1>Политика конфиденциальности</h1>
<p>
Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую Платформа PagesTechnologies - проект доступный в сети «Интернет» по адресу: «http://pagecms.ru/», в том числе его сервисы доступные по адресу: «http://pages.pagecms.ru/» включая программу «Pages» для мобильных устройств (далее - «Программа»), а так же «Администрация Сайта» — один или несколько обладателей исключительных прав на использование Платформы PagesTechnologies (в том числе входящих в ее состав программ для ЭВМ и баз данных, графических изображений, являющихся элементами пользовательского интерфейса, и иных охраняемых действующим законодательством объектов, входящих в состав Платформы PagesTechnologies) (далее — «Pages»), могут получить о Пользователе во время использования им любого из сайтов, сервисов, служб, программ, продуктов или услуг Pages (далее — Сервисы, Сервисы Pages) и в ходе исполнения Pages любых соглашений и договоров с Пользователем. Согласие Пользователя с Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется на все остальные перечисленные лица.
</p>
<p>
Использование Сервисов Pages означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервисов.
</p>

<h2>1. Персональная информация Пользователей, которую обрабатывает Pages</h2>
<p>
1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:
</p>
<p>
1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервисов, включая персональные данные Пользователя. Обязательная для предоставления Сервисов информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
</p>
<p>
1.1.2. Данные, которые автоматически передаются Сервисам Pages в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сервисам, адреса запрашиваемых страниц и иная подобная информация.
</p>
<p>
1.1.3. Иная информация о Пользователе, обработка которой предусмотрена условиями использования отдельных Сервисов Pages.
</p>
<p>
1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сервисов Pages. Pages не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайтах и/или сервисах Pages, в том числе в результатах поиска.
</p>
<p>
1.3. Pages не проверяет достоверность персональной информации, предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность. Однако Pages исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии. Последствия предоставления недостоверной или недостаточной информации определены в Пользовательском соглашении сервисов Pages (http://pages.pagecms.ru/legal/rules/).
</p>


<h2>2. Цели обработки персональной информации Пользователей</h2>
<p>
2.1. Pages собирает и хранит только ту персональную информацию, которая необходима для предоставления Сервисов или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
</p>
<p>
2.2. Персональную информацию Пользователя Pages обрабатывает в следующих целях:
</p>
<p>
2.2.1. Идентификация стороны в рамках Сервисов, соглашений и договоров с Pages;
</p>
<p>
2.2.2. Предоставление Пользователю персонализированных Сервисов и исполнение соглашений и договоров;
</p>
<p>
2.2.3. Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, исполнения соглашений и договоров, а также обработка запросов и заявок от Пользователя;
</p>
<p>
2.2.4. Улучшение качества Сервисов, удобства их использования, разработка новых Сервисов;
</p>
<p>
2.2.5. Таргетирование рекламных материалов;
</p>
<p>
2.2.6. Проведение статистических и иных исследований на основе обезличенных данных.
</p>


<h2>3. Условия обработки персональной информации Пользователей и её передачи третьим лицам</h2>
<p>
3.1. Pages хранит персональную информацию Пользователей в соответствии с внутренними регламентами конкретных сервисов.
</p>
<p>
3.2. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов, Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
</p>
<p>
3.3. Pages вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
</p>
<p>
3.3.1. Пользователь выразил согласие на такие действия;
</p>
<p>
3.3.2. Передача необходима для использования Пользователем определенного Сервиса либо для исполнения определенного соглашения или договора с Пользователем;
</p>
<p>
3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
</p>
<p>
3.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
</p>
<p>
3.3.5. В целях обеспечения возможности защиты прав и законных интересов Pages или третьих лиц в случаях, когда Пользователь нарушает Пользовательское соглашение сервисов Pages (http://pages.pagecms.ru/legal/rules/), настоящую Политику, либо документы, содержащие условия использования конкретных Сервисов, либо существует угроза такого нарушения.
</p>
<p>
3.3.6. В результате обработки персональной информации Пользователя путем ее обезличивания получены обезличенные статистические данные, которые передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг по поручению Pages.
</p>
<p>
3.4. При обработке персональных данных Пользователей Pages руководствуется Федеральным законом РФ «О персональных данных».
</p>


<h2>4. Изменение и удаление персональной информации. Обязательное хранение данных</h2>
<p>
4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть.
</p>
<p>
4.2. Пользователь также может удалить предоставленную им в рамках определенной учетной записи персональную информацию. При этом удаление аккаунта может повлечь невозможность использования некоторых Сервисов Pages.
</p>
<p>
4.3. Права, предусмотренные пп. 4.1. и 4.2. настоящей Политики могут быть ограничены в соответствии с требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность Pages сохранить измененную или удаленную Пользователем информацию на срок, установленный законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой государственному органу.
</p>


<h2>5. Обработка персональной информации при помощи файлов Cookie и счетчиков</h2>
<p>
5.1. Файлы cookie, передаваемые Pages оборудованию Пользователя и оборудованием Пользователя Pages, могут использоваться Pages для предоставления Пользователю персонализированных Сервисов, для таргетирования рекламы, которая показывается Пользователю, в статистических и исследовательских целях, а также для улучшения Сервисов Pages.
</p>
<p>
5.2. Пользователь осознает, что оборудование и программное обеспечение, используемые им для посещения сайтов в сети интернет могут обладать функцией запрещения операций с файлами cookie (для любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.
</p>
<p>
5.3. Pages вправе установить, что предоставление определенного Сервиса возможно лишь при условии, что прием и получение файлов cookie разрешены Пользователем.
</p>
<p>
5.4. Структура файла cookie, его содержание и технические параметры определяются Pages и могут изменяться без предварительного уведомления Пользователя.
</p>
<p>
5.5. Счетчики, размещенные Pages в Сервисах, могут использоваться для анализа файлов cookie Пользователя, для сбора и обработки статистической информации об использовании Сервисов, а также для обеспечения работоспособности Сервисов в целом или их отдельных функций в частности. Технические параметры работы счетчиков определяются Pages и могут изменяться без предварительного уведомления Пользователя.
</p>


<h2>6. Меры, применяемые для защиты персональной информации Пользователя</h2>
<p>
6.1. Pages принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
</p>


<h2>7. Изменение Политики конфиденциальности. Применимое законодательство</h2>
<p>
7.1. Pages имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. Действующая редакция постоянно доступна на странице по адресу http://pages.psgecms.ru/legal/confidential/.
</p>
<p>
7.2. К настоящей Политике и отношениям между Пользователем и Pages, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
</p>


<h2>8. Обратная связь. Вопросы и предложения</h2>
<p>
8.1. Все предложения или вопросы по поводу настоящей Политики Пользователь вправе направлять в Службу поддержки пользователей Pages (tech-support@pagecms.ru).
</p>
<p>
<i>Дата публикации: 14.05.2018 г.</i>
</p>		
		
		
		
		</div>
	</div>
	
</div>

<body>

<html>
<!-- END: tpl -->