<!-- BEGIN: tpl -->



		
<!-- BEGIN: rules -->	
	<div class="row">
		<div class="col-md-12 col-sm-12">	
<h1>Пользовательское соглашение сервисов Pages</h1>
<h2>1. Общие положения</h2>
<p>
1.1. Платформа PagesTechnologies - проект доступный в сети «Интернет» по адресу: «http://pagecms.ru/», в том числе его сервисы доступные по адресу: «http://pages.pagecms.ru/» включая программу «Pages» для мобильных устройств (далее - «Программа»), а так же «Администрация Сайта» — один или несколько обладателей исключительных прав на использование Платформы PagesTechnologies (в том числе входящих в ее состав программ для ЭВМ и баз данных, графических изображений, являющихся элементами пользовательского интерфейса, и иных охраняемых действующим законодательством объектов, входящих в состав Платформы PagesTechnologies) (далее — «Pages») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
</p>
<p>
1.2. Pages предлагает Пользователям доступ к широкому спектру сервисов, включая средства коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
</p>
<p>
1.3. Использование сервисов Pages регулируется настоящим Соглашением, Политикой конфиденциальности (http://pages.pagecms.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Pages без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу http://pages.pagecms.ru/legal/rules/.
</p>
<p>
1.4. Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Pages. В случае если Pages были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Pages.
</p>


<h2>2. Регистрация Пользователя. Учетная запись Пользователя</h2>
<p>
2.1. Для того чтобы воспользоваться некоторыми сервисами Pages или некоторыми отдельными функциями сервисов, Пользователю необходимо пройти процедуру регистрации, в результате которой для Пользователя будет создана уникальная учетная запись.
</p>
<p>
2.2. Для регистрации Пользователь обязуется предоставить достоверную и полную информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в актуальном состоянии. Если Пользователь предоставляет неверную информацию или у Pages есть основания полагать, что предоставленная Пользователем информация неполна или недостоверна, Pages имеет право по своему усмотрению заблокировать либо удалить учетную запись Пользователя и отказать Пользователю в использовании своих сервисов (либо их отдельных функций).
</p>
<p>
2.3. Pages оставляет за собой право в любой момент потребовать от Пользователя подтверждения данных, указанных при регистрации, и запросить в связи с этим подтверждающие документы (в частности - документы, удостоверяющие личность), непредоставление которых, по усмотрению Pages, может быть приравнено к предоставлению недостоверной информации и повлечь последствия, предусмотренные п. 2.2 Соглашения. В случае если данные Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным при регистрации, а также в случае, когда данные, указанные при регистрации, не позволяют идентифицировать пользователя, Pages вправе отказать Пользователю в доступе к учетной записи и использовании сервисов Pages.
</p>
<p>
2.4. Персональная информация Пользователя, содержащаяся в учетной записи Пользователя, хранится и обрабатывается Pages в соответствии с условиями Политики конфиденциальности (http://pages.pagecms.ru/legal/confidential/).
</p>
<p>
2.5. Средства для доступа к учетной записи Пользователя.
</p>
<p>
2.5.1. При регистрации Пользователю выдается логин (уникальное символьное имя учетной записи Пользователя) и пароль для доступа к учетной записи. Pages вправе запретить использование определенных логинов, а также устанавливать требования к логину и паролю (длина, допустимые символы и т.д.).
</p>
<p>
2.6. Пользователь самостоятельно несет ответственность за безопасность (устойчивость к угадыванию) выбранных им средств для доступа к учетной записи, а также самостоятельно обеспечивает их конфиденциальность. Пользователь самостоятельно несет ответственность за все действия (а также их последствия) в рамках или с использованием сервисов Pages под учетной записью Пользователя, включая случаи добровольной передачи Пользователем данных для доступа к учетной записи Пользователя третьим лицам на любых условиях (в том числе по договорам или соглашениям). При этом все действия в рамках или с использованием сервисов Pages под учетной записью Пользователя считаются произведенными самим Пользователем, за исключением случаев, когда Пользователь, в порядке, предусмотренном п. 2.7., уведомил Pages о несанкционированном доступе к сервисам Pages с использованием учетной записи Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своих средств доступа к учетной записи (пароля).
</p>
<p>
2.7. Пользователь обязан немедленно уведомить Pages о любом случае несанкционированного (не разрешенного Пользователем) доступа к сервисам Pages с использованием учетной записи Пользователя и/или о любом нарушении (подозрениях о нарушении) конфиденциальности своих средств доступа к учетной записи. В целях безопасности, Пользователь обязан самостоятельно осуществлять безопасное завершение работы под своей учетной записью (кнопка «Выход») по окончании каждой сессии работы с сервисами Pages. Pages не отвечает за возможную потерю или порчу данных, а также другие последствия любого характера, которые могут произойти из-за нарушения Пользователем положений этой части Соглашения.
</p>
<p>
2.8. Использование Пользователем своей учетной записи.
</p>
<p>
2.8.1. Пользователь не вправе воспроизводить, повторять и копировать, продавать и перепродавать, а также использовать для каких-либо коммерческих целей какие-либо части сервисов Pages (включая контент, доступный Пользователю посредством сервисов), или доступ к ним, кроме тех случаев, когда Пользователь получил такое разрешение от Pages, либо когда это прямо предусмотрено пользовательским соглашением какого-либо сервиса.
</p>
<p>
2.8.2. Некоторые категории учетных записей Пользователей могут ограничивать или запрещать использование некоторых сервисов Pages или их отдельных функций в случае если это предусмотрено при регистрации, либо в условиях использования того или иного сервиса.
</p>
<p>
2.9. Прекращение регистрации. Pages вправе заблокировать или удалить учетную запись Пользователя, а также запретить доступ с использованием какой-либо учетной записи к определенным сервисам Pages, и удалить любой контент без объяснения причин, в том числе в случае нарушения Пользователем условий Соглашения или условий иных документов, предусмотренных п. 1.3. Соглашения, а также в случае неиспользования соответствующего сервиса, в частности:
</p>
<p>
2.9.1. Учетная запись Пользователя на Pages будет удалена, если Пользователь не пользовался ий более 12 месяцев.
</p>
<p>
2.10. Удаление учетной записи Пользователя.
</p>
<p>
2.10.1. Пользователь вправе в любой момент удалить свою учетную запись на всех сервисах Pages или при наличии соответствующей функции прекратить ее действие в отношении некоторых из них.
</p>
<p>
2.10.2. Удаление учетной записи Pages осуществляется в следующем порядке:
</p>
<p>
2.10.2.1. учетная запись блокируется на срок один месяц, в течение которого доступ Пользователя к своей учетной записи становится невозможен, при этом контент размещенный с помощью такой учетной записи может быть удален;
</p>
<p>
2.10.2.2. если в течение указанного выше срока учетная запись Пользователя будет восстановлена, доступ к учетной записи для Пользователя восстановится, однако контент, размещенной с ее помощью, может не подлежать восстановлению;
</p>
<p>
2.10.2.3. если в течение указанного выше срока учетная запись Пользователя не будет восстановлена, весь контент, размещенный с ее использованием, будет удален, а логин будет доступен для использования другим пользователям. С этого момента восстановление учетной записи, какой-либо информации, относящейся к ней, а равно доступов к сервисам Pages с использованием этой учетной записи - невозможны.
</p>
<p>
2.10.3. Приведенный в пп. 2.10.2.1., 2.10.2.2., 2.10.2.3. Соглашения (за исключением доступности логина для использования другими пользователями) порядок применим также к запрету доступа с использованием какой-либо учетной записи к определенным сервисам.
</p>


<h2>3. Общие положения об использовании и хранении</h2>
<p>
3.1. Pages вправе устанавливать ограничения в использовании сервисов для всех Пользователей, либо для отдельных категорий Пользователей (в зависимости от места пребывания Пользователя, языка, на котором предоставляется сервис и т.д.), в том числе: наличие/отсутствие отдельных функций сервиса, срок хранения любого контента, максимальный размер контента или дискового пространства, максимальное количество обращений к сервису за указанный период времени, максимальный срок хранения контента, специальные параметры загружаемого контента и т.д. Pages может запретить автоматическое обращение к своим сервисам, а также прекратить прием любой информации, сгенерированной автоматически.
</p>
<p>
3.2. Pages вправе посылать своим пользователям информационные сообщения. Используя сервисы почтовой и других систем, Пользователь также в соответствии с ч. 1 ст. 18 Федерального закона «О рекламе» дает свое согласие на получение сообщений рекламного характера. Пользователь вправе отказаться от получения сообщений рекламного характера путем использования соответствующего функционала того сервиса, в рамках которого или в связи с которым пользователем были получены сообщения рекламного характера.
</p>
<p>
3.3. В целях повышения качества сервисов Pages вправе осуществлять сбор мнений и отзывов Пользователей по различным вопросам путем направления информационного сообщения при очередном посещении Пользователем сервиса. Собранные мнения и отзывы могут быть использованы для формирования статистических данных, которые могут быть использованы в сервисах Pages. Отзывы, оставленные Пользователем с использованием его учетной записи, также могут быть опубликованы Pages в сервисах Pages либо в сервисах аффилированных с Pages лиц, как с указанием имени (логина) пользователя, так и без указания. При написании отзывов Пользователь обязуется руководствоваться требованиями настоящего Соглашения, в том числе требованиями, установленными п. 5 настоящего Соглашения.
</p>


<h2>4. Контент Пользователя</h2>
<p>
4.1. Пользователь самостоятельно несет ответственность за соответствие содержания размещаемого Пользователем контента требованиям действующего законодательства, включая ответственность перед третьими лицами в случаях, когда размещение Пользователем того или иного контента или содержание контента нарушает права и законные интересы третьих лиц, в том числе личные неимущественные права авторов, иные интеллектуальные права третьих лиц, и/или посягает на принадлежащие им нематериальные блага.
</p>
<p>
4.2. Пользователь признает и соглашается с тем, что Pages не обязан просматривать контент любого вида, размещаемый и/или распространяемый Пользователем посредством сервисов Pages, а также то, что Pages имеет право (но не обязанность) по своему усмотрению отказать Пользователю в размещении и/или распространении им контента или удалить любой контент, который доступен посредством сервисов Pages. Пользователь осознает и согласен с тем, что он должен самостоятельно оценивать все риски, связанные с использованием контента, включая оценку надежности, полноты или полезности этого контента.
</p>
<p>
4.3. Пользователь осознает и соглашается с тем, что технология работы сервисов может потребовать копирование (воспроизведение) контента Пользователя Pages, а также переработки его Pages для соответствия техническим требованиям того или иного сервиса.
</p>

<h2>5. Условия использования сервисов Pages</h2>
<p>
5.1. Пользователь самостоятельно несет ответственность перед третьими лицами за свои действия, связанные с использованием Сервиса, в том числе, если такие действия приведут к нарушению прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании Сервиса.
</p>
<p>
5.2. При использовании сервисов Pages Пользователь не вправе:
</p>
<p>
5.2.1. загружать, посылать, передавать или любым другим способом размещать и/или распространять контент, который является незаконным, вредоносным, клеветническим, оскорбляет нравственность, демонстрирует (или является пропагандой) насилия и жестокости, нарушает права интеллектуальной собственности, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в адрес каких-либо лиц или организаций, содержит элементы (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или является пропагандой) услуг сексуального характера (в том числе под видом иных услуг), разъясняет порядок изготовления, применения или иного использования наркотических веществ или их аналогов, взрывчатых веществ или иного оружия;
</p>
<p>
5.2.2. нарушать права третьих лиц, в том числе несовершеннолетних лиц и/или причинять им вред в любой форме;
</p>
<p>
5.2.3. выдавать себя за другого человека или представителя организации и/или сообщества без достаточных на то прав, в том числе за сотрудников Pages, за модераторов форумов, за владельца сайта, а также применять любые другие формы и способы незаконного представительства других лиц в сети, а также вводить пользователей или Pages в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов;
</p>
<p>
5.2.4. загружать, посылать, передавать или любым другим способом размещать и/или распространять контент, при отсутствии прав на такие действия согласно законодательству или каким-либо договорным отношениям;
</p>
<p>
5.2.5. загружать, посылать, передавать или любым другим способом размещать и/или распространять не разрешенную специальным образом рекламную информацию, спам (в том числе и поисковый), списки чужих адресов электронной почты, схемы «пирамид», многоуровневого (сетевого) маркетинга (MLM), системы интернет-заработка и e-mail-бизнесов, «письма счастья», а также использовать сервисы Pages для участия в этих мероприятиях, или использовать сервисы Pages, исключительно для перенаправления пользователей на страницы других доменов;
</p>
<p>
5.2.6. загружать, посылать, передавать или любым другим способом размещать и/или распространять какие-либо материалы, содержащие вирусы или другие компьютерные коды, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в Интернете, а также размещения ссылок на вышеуказанную информацию;
</p>
<p>
5.2.7. несанкционированно собирать и хранить персональные данные других лиц;
</p>
<p>
5.2.8. нарушать нормальную работу веб-сайтов и сервисов Pages;
</p>
<p>
5.2.9. содействовать действиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением;
</p>
<p>
5.2.10. другим образом нарушать нормы законодательства, в том числе нормы международного права.
</p>

<h2>6. Исключительные права на содержание сервисов и контент</h2>
<p>
6.1. Все объекты, доступные при помощи сервисов Pages, в том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных, музыка, звуки и другие объекты (далее – содержание сервисов), а также любой контент, размещенный на сервисах Pages, являются объектами исключительных прав Pages, Пользователей и других правообладателей.
</p>
<p>
6.2. Использование контента, а также каких-либо иных элементов сервисов возможно только в рамках функционала, предлагаемого тем или иным сервисом. Никакие элементы содержания сервисов Pages, а также любой контент, размещенный на сервисах Pages, не могут быть использованы иным образом без предварительного разрешения правообладателя. Под использованием подразумеваются, в том числе: воспроизведение, копирование, переработка, распространение на любой основе, отображение во фрейме и т.д. Исключение составляют случаи, прямо предусмотренные законодательством РФ или условиями использования того или иного сервиса Pages.
Использование Пользователем элементов содержания сервисов, а также любого контента для личного некоммерческого использования, допускается при условии сохранения всех знаков охраны авторского права, смежных прав, товарных знаков, других уведомлений об авторстве, сохранения имени (или псевдонима) автора/наименования правообладателя в неизменном виде, сохранении соответствующего объекта в неизменном виде. Исключение составляют случаи, прямо предусмотренные законодательством РФ или пользовательскими соглашениями того или иного сервиса Pages.
</p>

<h2>7. Сайты и контент третьих лиц</h2>
<p>
7.1. Сервисы Pages могут содержать ссылки на другие сайты в сети Интернет (сайты третьих лиц). Указанные третьи лица и их контент не проверяются Pages на соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.). Pages не несет ответственность за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым Пользователь получает доступ с использованием сервисов, в том числе, за любые мнения или утверждения, выраженные на сайтах третьих лиц, рекламу и т.п., а также за доступность таких сайтов или контента и последствия их использования Пользователем.
</p>
<p>
7.2. Ссылка (в любой форме) на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных продуктов (услуг, деятельности) со стороны Pages, за исключением случаев, когда на это прямо указывается на ресурсах Pages.
</p>

<h2>8. Реклама на сервисах Pages</h2>
<p>
8.1. Pages не несет ответственность за рекламу, размещенную им на сервисах Pages, в пределах, установленных законодательством РФ.
</p>

<h2>9. Отсутствие гарантий, ограничение ответственности</h2>
<p>
9.1. Пользователь использует сервисы Pages на свой собственный риск. Сервисы предоставляются «как есть». Pages не принимает на себя никакой ответственности, в том числе за соответствие сервисов целям Пользователя;
</p>
<p>
9.2. Pages не гарантирует, что: сервисы соответствуют/будут соответствовать требованиям Пользователя; сервисы будут предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть получены с использованием сервисов, будут точными и надежными и могут использоваться для каких-либо целей или в каком-либо качестве (например, для установления и/или подтверждения каких-либо фактов); качество какого-либо продукта, услуги, информации и пр., полученных с использованием сервисов, будет соответствовать ожиданиям Пользователя;
</p>
<p>
9.3. Любые информацию и/или материалы (в том числе загружаемое ПО, письма, какие-либо инструкции и руководства к действию и т.д.), доступ к которым Пользователь получает с использованием сервисов Pages, Пользователь может использовать на свой собственный страх и риск и самостоятельно несет ответственность за возможные последствия использования указанных информации и/или материалов, в том числе за ущерб, который это может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой другой вред;
</p>
<p>
9.4. Pages не несет ответственности за любые виды убытков, произошедшие вследствие использования Пользователем сервисов Pages или отдельных частей/функций сервисов;
</p>
<p>
9.5. При любых обстоятельствах ответственность Pages в соответствии со статьей 15 Гражданского кодекса России ограничена 1 (один) рубль РФ и возлагается на него при наличии в его действиях вины.
</p>

<h2>10. Иные положения</h2>
<p>
10.1. Настоящее Соглашение представляет собой договор между Пользователем и Pages относительно порядка использования сервисов и заменяет собой все предыдущие соглашения между Пользователем и Pages.
</p>
<p>
10.2. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации. Все возможные споры, вытекающие из отношений, регулируемых настоящим Соглашением, разрешаются в порядке, установленном действующим законодательством Российской Федерации, по нормам российского права. Везде по тексту настоящего Соглашения, если явно не указано иное, под термином «законодательство» понимается как законодательство Российской Федерации.
</p>
<p>
10.3. Ввиду безвозмездности услуг, оказываемых в рамках настоящего Соглашения, нормы о защите прав потребителей, предусмотренные законодательством Российской Федерации, не могут быть применимыми к отношениям между Пользователем и Pages.
</p>
<p>
10.4. Ничто в Соглашении не может пониматься как установление между Пользователем и Pages агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
</p>
<p>
10.5. Если по тем или иным причинам одно или несколько положений настоящего Соглашения будут признаны недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или применимость остальных положений Соглашения.
</p>
<p>
10.6. Бездействие со стороны Pages в случае нарушения Пользователем либо иными пользователями положений Соглашений не лишает Pages права предпринять соответствующие действия в защиту своих интересов позднее, а также не означает отказа Pages от своих прав в случае совершения в последующем подобных либо сходных нарушений.
</p>
<p>
10.7. Настоящее Соглашение составлено на русском языке и в некоторых случаях может быть предоставлено Пользователю для ознакомления на другом языке. В случае расхождения русскоязычной версии Соглашения и версии Соглашения на ином языке, применяются положения русскоязычной версии настоящего Соглашения.
</p>
<p>
<i>Дата публикации 14.05.2018 г.</i>
</p>		

		</div>
	</div>
<!-- END: rules -->			
			
			
			
			
			
	
	
	



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="ru" />
<meta http-equiv="Cache-Control" content="private" />
<meta name="description" content="{_META_DESCRIPTION}" />
<meta http-equiv="description" content="{META_DESCRIPTION}" />
<meta name="Keywords" content="{META_KEYWORDS}" />
<meta http-equiv="Keywords" content="{META_KEYWORDS}" />
<meta name="Resource-type" content="document" />
<meta name="document-state" content="dynamic" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="{URL}/plugins/bootstrap3/css/bootstrap.css">
<link rel="stylesheet" href="{URL}/plugins/bootstrap3/css/sticky-footer-navbar.css">

<script src="{URL}/plugins/jquery/jquery-3.2.0.min.js"></script>
<script src="{URL}/plugins/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="{URL}/plugins/jquery/jquery.json-1.3.js"></script>
<script type="text/javascript" src="{URL}/js/api.class.js"></script>

</head>


<body>
<div class="container ">

			{rulesRow}


</div>

<body>

<html>
<!-- END: tpl -->